<app-navbar></app-navbar>

<div class="container pt-2">
  <h4 class="ps-2">Personal</h4>
  <div class="p-2 pb-5">
    <div class="float-start">
      <h2>life & living</h2>
    </div>
    <div class="mt-2 ">
      <span class="title-span"></span>
    </div>
  </div>

  <div class="blog-content p-2">
    <div class="blog-img">
      <img class="blog-image" src="https://picsum.photos/200" alt="Fetching image">
    </div>

    <div class="blog-body p-2 mb-4">
      <p class="blog-photography">PHOTOGRAPHY</p>
      <h3 class="blog-title">Five Inconvenient truth why..</h3>
      <h6 class="blog-subtitle pb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorum laudantium
        molestias quibusdam</h6>
      <div class="blog-date">
        <div class="float-start">
          <i class="fas fa-clock me-1"></i>
          <span>July 8, 2020</span>
        </div>
        <div class="float-end">
          <i class="fas fa-comment-alt"></i>
          1
        </div>
      </div>
    </div>
    <hr class="hr">
    <div>
      <h6 class="blog-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, esse, rerum!
        Consequuntur cupiditate earum magni placeat voluptatibus?...</h6>
    </div>
    <div class="read-more">
      <div class="float-start p-3">
        <h6 class="float-start pe-2 read-more-text">read more </h6><i class="fas fa-arrow-circle-right float-end"></i>
      </div>
      <div class="float-end p-3">
        <i class="fab fa-facebook-square pe-5"></i>
        <i class="fab fa-twitter-square pe-5"></i>
        <i class="fab fa-pinterest-p"></i>
      </div>
    </div>
  </div>
</div>

<div class="container related-blogs"  *ngFor="let n of numSequence(6)">
  <div class="related-blog-img">
    <img class="related-blog-image" src="https://picsum.photos/200" alt="Fetching image">
  </div>
  <div class="related-blog-details">
    <h3>Related blog titles</h3>
    <i class="fas fa-comment-alt"></i>
    1
  </div>
</div>
