<app-navbar></app-navbar>

<section>
  <div class="add-blog container">
    <form class="form-group container">
      <!--blog category title-->
      <div class="mb-3">
        <label for="blogCategory" class="form-label">Blog Category</label>
        <input type="text" class="form-control" id="blogCategory" aria-describedby="blogCategory">
      </div>
      <!--category title-->

      <!--blog title-->
      <div class="mb-3">
        <label for="blogTitle" class="form-label">Blog Title</label>
        <input type="text" class="form-control" id="blogTitle" aria-describedby="blogTitle">
      </div>
      <!--blog title-->

      <!--blog sub-title-->
      <div class="mb-3">
        <label for="blogSubtitle" class="form-label">Blog Content</label>
        <textarea class="form-control" aria-label="With textarea" id="blogSubtitle" rows="10"></textarea>
      </div>
      <!--blog sub-title-->

      <button type="submit" class="btn add-blog-btn">Post Blog</button>
    </form>
  </div>
</section>
