<div id="bg"></div>

<header>
  <a href="">HelpLify</a>
</header>

<main>
  <section id="card">
    <ul>
      <li>
        <span></span>
        <strong>What the latest News?</strong>
      </li>
      <li>
        <span></span>
        <strong>Who #**# who?</strong>
      </li>
      <li>
        <span></span>
        <strong>Trending Videos</strong>
      </li>
    </ul>
  </section>

  <section id="primary">
    <h1>Your personal assistant</h1>
    <p>Get help today.</p>

    <a routerLink="/news">Get started already</a>
  </section>
</main>
